<header class="header">
    <div class="row" id="header_text-box">
        <div class="col-7">
           

        </div>

<div class="col-5" id="">
<form action=  method=POST>
    <input name="name" type="text" class="form-control" id="add-movie-input" placeholder="">
    <button id=""><img id="" src=""></button>
</form>
</div>

</div>
</div>
</header>